.dark {
  [data-testid="code-group-select"] {
    .flex.justify-between.text-xs.leading-6.border-b.rounded-t-xl.w-full.bg-black\/40.border-gray-900\/80 {
      border-bottom: 1px solid #27272a !important;
    }

    [aria-label="Copy the contents from the code block"] {
      svg {
        fill: #a19ea6 !important;
        background-color: #a19ea6 !important;
        color: #a19ea6 !important;
      }
    }
  }

  [download="api-response.json"] {
    svg {
      fill: #a19ea6 !important;
      background-color: #a19ea6 !important;
      color: #a19ea6 !important;
    }
  }

  .codeblock-dark {
    background-color: #030712 !important;
    div {
      border-color: #27272a !important;
      background-color: #030712 !important;

      button {
        div {
          background-color: unset !important;
          color: #a19ea6 !important;

          &:hover {
            background-color: #27272a !important;
          }
        }
      }

      [aria-selected="true"] {
        div {
          background-color: unset !important;
          color: white !important;

          &:hover {
            background-color: unset !important;
          }
        }
        div:nth-child(2) {
          border-bottom-color: #6e05ff !important;
        }
      }
    }

    .text-white {
      color: white !important;
    }

    [aria-label="Copy the contents from the code block"] {
      svg {
        background-color: #a19ea6 !important;
      }

      .fill-primary-light {
        background-color: #030712 !important;

        svg {
          fill: #a19ea6 !important;
          background-color: #a19ea6 !important;
        }
      }
    }

    code {
      color: white !important;

      .number,
      .function {
        color: #dcdcaa !important;
      }

      .property,
      .operator,
      .parameter,
      .constant,
      .variable {
        color: #9cdcfe !important;
      }

      .string {
        color: #ce9178 !important;
      }

      .punctuation {
        color: #d4d4d4 !important;
      }

      .class-name {
        color: #4ec9b0 !important;
      }
    }
  }

  .w-full.rounded-2xl.border.bg-\[\#0F1117\].dark\:bg-codeblock.border-gray-800\/50.hidden.lg\:block.min-h-fit,
  .flex.justify-between.text-xs.leading-6.border-b.rounded-t-xl.w-full.bg-black\/40.border-gray-900\/80 {
    background-color: #030712 !important;
    border-color: #030712 !important;

    [aria-label="Copy the contents from the code block"] {
      svg {
        background-color: #a19ea6 !important;
      }

      .fill-primary-light {
        background-color: transparent !important;

        svg {
          fill: #a19ea6 !important;
          background-color: #a19ea6 !important;
        }
      }
    }
  }

  .w-full.rounded-2xl.border.bg-\[\#0F1117\].dark\:bg-codeblock.border-gray-800\/50.hidden.lg\:block.min-h-fit {
    background-color: #030712 !important;
    border-color: #030712 !important;

    a {
      svg {
        background-color: #a19ea6 !important;
      }
    }

    [aria-label="Copy the contents from the code block"] {
      svg {
        fill: #a19ea6 !important;
        background-color: #a19ea6 !important;
      }

      .fill-primary-light {
        background-color: transparent !important;

        svg {
          fill: #a19ea6 !important;
          background-color: #a19ea6 !important;
        }
      }
    }
    div:first-child {
      border-bottom-color: #27272a !important;
    }

    .text-xs.text-gray-200.font-medium,
    tr {
      color: white !important;
    }

    select {
      background-color: #030712 !important;
      border-color: #a19ea6 !important;
    }

    .language-json-dark {
      color: white !important;

      .number,
      .function {
        color: #dcdcaa !important;
      }

      .property,
      .operator,
      .parameter,
      .constant,
      .variable {
        color: #9cdcfe !important;
      }

      .string {
        color: #ce9178 !important;
      }

      .punctuation {
        color: #d4d4d4 !important;
      }

      .class-name {
        color: #4ec9b0 !important;
      }
    }
  }

  .data-\[side\=bottom\]\:slide-in-from-top-2[data-side="bottom"] {
    background-color: #1c202a !important;
    border-color: #1c202a !important;
  }

  div[role="menuitem"] {
    color: white !important;
  }

  [data-testid="code-group-select"] {
    background-color: #030712 !important;
  }

  .text-primary-light {
    color: white !important;
  }
}

.codeblock-dark {
  [role="tablist"] {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
  }

  background-color: #f9fafb !important;
  div {
    border-color: #e2e8f0 !important;
    background-color: #f9fafb !important;

    button {
      div {
        background-color: unset !important;
        color: black !important;
        opacity: 0.5 !important;

        &:hover {
          background-color: #e4e4e7 !important;
        }
      }
    }

    [aria-selected="true"] {
      div {
        color: black !important;
        opacity: 1 !important;
        &:hover {
          background-color: transparent !important;
        }
      }
      div:nth-child(2) {
        border-bottom-color: #6e05ff !important;
      }
    }

    .text-white {
      color: black !important;
    }
  }

  [aria-label="Copy the contents from the code block"] {
    svg {
      background-color: black !important;
    }

    .fill-primary-light {
      background-color: transparent !important;

      svg {
        fill: black !important;
        background-color: black !important;
      }
    }
  }

  code {
    color: black !important;

    .number,
    .function {
      color: #a1a173 !important;
    }

    .property,
    .operator,
    .parameter,
    .constant,
    .variable {
      color: #669ebf !important;
    }

    .string {
      color: #aa7661 !important;
    }

    .punctuation {
      color: #27272a !important;
    }

    .class-name {
      color: #3ea28d !important;
    }
  }
}

[aria-label="Copy the contents from the code block"] {
  svg {
    fill: black !important;
    background-color: black !important;
  }

  .fill-primary-light {
    background-color: transparent !important;

    svg {
      fill: black !important;
      background-color: black !important;
    }
  }
}

.w-full.rounded-2xl.border.bg-\[\#0F1117\].dark\:bg-codeblock.border-gray-800\/50.hidden.lg\:block.min-h-fit,
.flex.justify-between.text-xs.leading-6.border-b.rounded-t-xl.w-full.bg-black\/40.border-gray-900\/80 {
  background-color: #f9fafb !important;
  border-color: #f9fafb !important;

  a {
    svg {
      background-color: black !important;
    }
  }

  div:first-child {
    border-bottom-color: #e2e8f0 !important;
  }

  .text-xs.text-gray-200.font-medium,
  tr {
    color: black !important;
  }

  select {
    background-color: #f9fafb !important;
    border-color: #e2e8f0 !important;
  }

  .language-json-dark {
    color: black !important;

    .number,
    .function {
      color: #a1a173 !important;
    }

    .property,
    .operator,
    .parameter,
    .constant,
    .variable {
      color: #669ebf !important;
    }

    .string {
      color: #aa7661 !important;
    }

    .punctuation {
      color: #27272a !important;
    }

    .class-name {
      color: #3ea28d !important;
    }
  }
}

.data-\[side\=bottom\]\:slide-in-from-top-2[data-side="bottom"] {
  background-color: #e0e1e2 !important;
  border-color: #e0e1e2 !important;
}

div[role="menuitem"] {
  color: black !important;
}

[data-testid="code-group-select"] {
  background-color: #f9fafb !important;
  box-shadow: none !important;

  .flex.justify-between.text-xs.leading-6.border-b.rounded-t-xl.w-full.bg-black\/40.border-gray-900\/80 {
    border-bottom: 1px solid #e0e1e2 !important;

    button {
      padding: 0 !important;
      height: 100% !important;

      margin-left: -5px;
      div {
        border-bottom: 1px solid #6e05ff !important;
        border-radius: 0 !important;
        width: 64px !important;
        p {
          padding-left: 16px !important;
          padding-top: 10px !important;
          padding-bottom: 8px !important;
        }
      }
    }
  }

  .flex.justify-between.text-xs.leading-6.border-b.rounded-t-xl.w-full.bg-black\/40.border-gray-900\/80 {
    div {
      button {
        margin-left: unset !important;
        margin-right: 10px !important;
        div {
          padding: 4px 8px !important;
          border-bottom: none !important;
          width: unset !important;
          border-radius: 8px !important;

          p {
            padding-left: 2px !important;
            padding-top: unset !important;
            padding-bottom: unset !important;
          }
        }
      }
    }
  }

  .text-white {
    color: black !important;
  }
}

.text-primary-light {
  color: black !important;
}
