---
openapi: 3.1.0
info:
  version: 2.0.0
  title: Lumx Extensions Payments
  description: Lumx Extensions Payments API
servers:
  - url: https://extensions-sandbox.lumx.io/payments
  - url: https://extensions.lumx.io/payments
paths:
  "/":
    get:
      operationId: AppController_getHello
      parameters: []
      responses:
        "200":
          description: ""
      summary: Health check endpoint
      tags:
        - Health
  "/payouts":
    post:
      operationId: PayoutsController_create
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreatePayoutsDto"
      responses:
        "202":
          description: ""
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreatePayoutsResponseDto"
      security:
        - bearer: []
      summary: Create a payout
      tags:
        - Payouts
    get:
      operationId: PayoutsController_readAll
      parameters: []
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ReadPayoutsResponseDto"
      security:
        - bearer: []
      summary: Read all payouts
      tags:
        - Payouts
  "/payouts/{payoutId}":
    get:
      operationId: PayoutsController_read
      parameters:
        - name: payoutId
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ReadPayoutsResponseDto"
      security:
        - bearer: []
      summary: Read a payout
      tags:
        - Payouts
  "/quotes":
    post:
      operationId: QuotesController_create
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateQuotesDto"
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreateQuotesResponseDto"
      security:
        - bearer: []
      summary: Create a quote
      tags:
        - Quotes
  "/receivers":
    post:
      operationId: ReceiversController_create
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateReceiversDto"
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreateReceiversResponseDto"
      security:
        - bearer: []
      summary: Create a receiver
      tags:
        - Receivers
    get:
      operationId: ReceiversController_readAll
      parameters: []
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ReadReceiversResponseDto"
      security:
        - bearer: []
      summary: Read all receivers
      tags:
        - Receivers
  "/receivers/{receiverId}":
    get:
      operationId: ReceiversController_read
      parameters:
        - name: receiverId
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ReadReceiversResponseDto"
      security:
        - bearer: []
      summary: Read a receiver
      tags:
        - Receivers
  "/receivers/{receiverId}/blockchain-accounts":
    post:
      operationId: ReceiversController_registerBlockchainAccount
      parameters:
        - name: receiverId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/RegisterBlockchainAccountsDto"
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/RegisterBlockchainAccountsResponseDto"
      security:
        - bearer: []
      summary: Register a blockchain account
      tags:
        - Receivers
    get:
      operationId: ReceiversController_readAllBlockchainAccounts
      parameters:
        - name: receiverId
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ReadBlockchainAccountsResponseDto"
      security:
        - bearer: []
      summary: Read all blockchain accounts
      tags:
        - Receivers
  "/receivers/{receiverId}/blockchain-accounts/{walletId}":
    get:
      operationId: ReceiversController_readBlockchainAccount
      parameters:
        - name: receiverId
          required: true
          in: path
          schema:
            type: string
        - name: walletId
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ReadBlockchainAccountsResponseDto"
      security:
        - bearer: []
      summary: Read a blockchain account
      tags:
        - Receivers
  "/receivers/{receiverId}/bank-accounts":
    post:
      operationId: ReceiversController_registerBankAccounts
      parameters:
        - name: receiverId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateBankAccountsDto"
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreateBankAccountsResponseDto"
      security:
        - bearer: []
      summary: Register a bank account
      tags:
        - Receivers
    get:
      operationId: ReceiversController_readAllBankAccounts
      parameters:
        - name: receiverId
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ReadBankAccountsResponseDto"
      security:
        - bearer: []
      summary: Read all bank accounts
      tags:
        - Receivers
  "/receivers/{receiverId}/bank-accounts/{bankAccountId}":
    get:
      operationId: ReceiversController_readBankAccount
      parameters:
        - name: receiverId
          required: true
          in: path
          schema:
            type: string
        - name: bankAccountId
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ReadBankAccountsResponseDto"
      security:
        - bearer: []
      summary: Read a bank account
      tags:
        - Receivers
  "/payins":
    post:
      operationId: PayinsController_create
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreatePayinsDto"
      responses:
        "202":
          description: ""
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreatePayinsResponseDto"
      security:
        - bearer: []
      summary: Create a payin
      tags:
        - Payins
    get:
      operationId: PayinsController_readAll
      parameters: []
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ReadPayinsResponseDto"
      security:
        - bearer: []
      summary: Read all payins
      tags:
        - Payins
  "/payins/{payinId}":
    get:
      operationId: PayinsController_read
      parameters:
        - name: payinId
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ReadPayinsResponseDto"
      security:
        - bearer: []
      summary: Read a payin
      tags:
        - Payins
components:
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
  schemas:
    CreatePayoutsDto:
      type: object
      properties:
        quoteId:
          type: string
          example: qu_000000000000
          description: The ID of the quote.
        wallet:
          type: string
          example: 7d413181-6c8c-427e-9d7b-6b07ba6ad5fb
          description: The wallet ID or wallet address of the sender.
      required:
        - quoteId
        - wallet
    CreatePayoutsResponseDto:
      type: object
      properties:
        id:
          type: string
          example: pa_000000000000
          description: The ID of the payout.
        status:
          type: string
          enum:
            - processing
            - failed
            - refunded
            - completed
          example: processing
          description: The current status of the payout.
      required:
        - id
        - status
    ReadPayoutsResponseDto:
      type: object
      properties:
        id:
          type: string
          example: pa_000000000000
          description: The ID of the payout.
        status:
          type: string
          enum:
            - processing
            - failed
            - refunded
            - completed
          example: processing
          description: The current status of the payout.
      required:
        - id
        - status
    CreateQuotesDto:
      type: object
      properties:
        type:
          type: string
          example: payin
          enum:
            - payin
            - payout
          description: Type of quote to create.
        blockchainAccountId:
          type: string
          example: ba_000000000000
          description: The ID of the blockchain account.
        bankAccountId:
          type: string
          example: ba_000000000000
          description: The ID of the bank account.
        paymentMethod:
          type: string
          example: pix
          enum:
            - pix
          description: Payment method for the transaction.
        amount:
          type: number
          minimum: 100
          example: 1000
          description: 100 represents 1.00, 1000 represents 10.00.
        token:
          type: string
          example: USDX
          enum:
            - USDC
            - USDT
            - USDX
          description: Token to be used in the transaction.
      required:
        - type
        - amount
        - token
    ProviderContractDto:
      type: object
      properties:
        address:
          type: string
          example: "0x0000000000000000000000000000000000000000"
          description: The provider contract address to be granted approval for.
        amount:
          type: string
          example: "1000000000000000000"
          description: The amount of tokens to be granted approval for.
      required:
        - address
        - amount
    CreateQuotesResponseDto:
      type: object
      properties:
        id:
          type: string
          example: qu_000000000000
          description: Quote identifier.
        type:
          type: string
          example: payin
          enum:
            - payin
            - payout
          description: Type of quote.
        expiresAt:
          type: number
          example: 1712958191
          description: Unix timestamp when the quote expires.
        commercialQuotation:
          type: number
          example: 595
          description: 1 USD = 5.95 BRL.
        providerQuotation:
          type: number
          example: 585
          description: 1 USD = 5.85 BRL (commercial quotation - provider taxes).
        providerContract:
          description: The provider contract details for approval.
          allOf:
            - "$ref": "#/components/schemas/ProviderContractDto"
        receiverAmount:
          type: number
          example: 5240
          description: 52.40 BRL.
        senderAmount:
          type: number
          example: 1010
          description: 10.10 USDX needs to be sent to bank account blockchain address.
        flatFee:
          type: number
          example: 50
          description: 0.50 USDX
      required:
        - id
        - type
        - expiresAt
        - commercialQuotation
        - providerQuotation
        - providerContract
        - receiverAmount
        - senderAmount
        - flatFee
    CreateReceiversDto:
      type: object
      properties:
        type:
          type: string
          enum:
            - individual
            - business
          example: individual
          description:
            Type of receiver, either an individual person or a business
            entity.
        complianceLevel:
          type: string
          enum:
            - light
            - standard
          example: standard
          description: Compliance verification level required for the receiver.
        firstName:
          type: string
          example: John
          description: First name of the individual receiver.
        lastName:
          type: string
          example: Doe
          description: Last name of the individual receiver.
        legalName:
          type: string
          example: Company Name Inc.
          description: Legal business name of the receiver.
        taxId:
          type: string
          example: "10210274029"
          description: Tax identification number of the receiver.
        email:
          type: string
          example: email@example.com
          description: Email address of the receiver.
        country:
          type: string
          enum:
            - AF
            - AL
            - DZ
            - AS
            - AD
            - AO
            - AI
            - AQ
            - AG
            - AR
            - AM
            - AW
            - AU
            - AT
            - AZ
            - BS
            - BH
            - BD
            - BB
            - BY
            - BE
            - BZ
            - BJ
            - BM
            - BT
            - BO
            - BQ
            - BA
            - BW
            - BV
            - BR
            - IO
            - BN
            - BG
            - BF
            - BI
            - CV
            - KH
            - CM
            - CA
            - KY
            - CF
            - TD
            - CL
            - CN
            - CX
            - CC
            - CO
            - KM
            - CD
            - CG
            - CK
            - CR
            - HR
            - CU
            - CW
            - CY
            - CZ
            - CI
            - DK
            - DJ
            - DM
            - DO
            - EC
            - EG
            - SV
            - GQ
            - ER
            - EE
            - SZ
            - ET
            - FK
            - FO
            - FJ
            - FI
            - FR
            - GF
            - PF
            - TF
            - GA
            - GM
            - GE
            - DE
            - GH
            - GI
            - GR
            - GL
            - GD
            - GP
            - GU
            - GT
            - GG
            - GN
            - GW
            - GY
            - HT
            - HM
            - VA
            - HN
            - HK
            - HU
            - IS
            - IN
            - ID
            - IR
            - IQ
            - IE
            - IM
            - IL
            - IT
            - JM
            - JP
            - JE
            - JO
            - KZ
            - KE
            - KI
            - KP
            - KR
            - KW
            - KG
            - LA
            - LV
            - LB
            - LS
            - LR
            - LY
            - LI
            - LT
            - LU
            - MO
            - MG
            - MW
            - MY
            - MV
            - ML
            - MT
            - MH
            - MQ
            - MR
            - MU
            - YT
            - MX
            - FM
            - MD
            - MC
            - MN
            - ME
            - MS
            - MA
            - MZ
            - MM
            - NA
            - NR
            - NP
            - NL
            - NC
            - NZ
            - NI
            - NE
            - NG
            - NU
            - NF
            - MP
            - "NO"
            - OM
            - PK
            - PW
            - PS
            - PA
            - PG
            - PY
            - PE
            - PH
            - PN
            - PL
            - PT
            - PR
            - QA
            - MK
            - RO
            - RU
            - RW
            - RE
            - BL
            - SH
            - KN
            - LC
            - MF
            - PM
            - VC
            - WS
            - SM
            - ST
            - SA
            - SN
            - RS
            - SC
            - SL
            - SG
            - SX
            - SK
            - SI
            - SB
            - SO
            - ZA
            - GS
            - SS
            - ES
            - LK
            - SD
            - SR
            - SJ
            - SE
            - CH
            - SY
            - TW
            - TJ
            - TZ
            - TH
            - TL
            - TG
            - TK
            - TO
            - TT
            - TN
            - TR
            - TM
            - TC
            - TV
            - UG
            - UA
            - AE
            - GB
            - UM
            - US
            - UY
            - UZ
            - VU
            - VE
            - VN
            - VG
            - VI
            - WF
            - EH
            - YE
            - ZM
            - ZW
            - AX
          example: BR
          description: Two-letter ISO country code of the receiver.
        dateOfBirth:
          type: string
          example: "1998-01-01T00:00:00Z"
          description: Date of birth for individual receivers.
          nullable: true
        dateOfFormation:
          type: string
          example: "1998-01-01T00:00:00Z"
          description: Date when the business was founded.
        city:
          type: string
          example: Marshfield
          description: City name.
        stateProvinceRegion:
          type: string
          example: MA
          description: State, province or region.
        addressLine1:
          type: string
          example: 738 Plain St
          description: First line of the address.
        addressLine2:
          type: string
          example: Building 22
          description: Second line of the address.
        postalCode:
          type: string
          example: "02050"
          description: Postal or ZIP code.
        ipAddress:
          type: string
          example: 127.0.0.1
          description: IP address of the receiver.
        idDocumentCountry:
          type: string
          enum:
            - AF
            - AL
            - DZ
            - AS
            - AD
            - AO
            - AI
            - AQ
            - AG
            - AR
            - AM
            - AW
            - AU
            - AT
            - AZ
            - BS
            - BH
            - BD
            - BB
            - BY
            - BE
            - BZ
            - BJ
            - BM
            - BT
            - BO
            - BQ
            - BA
            - BW
            - BV
            - BR
            - IO
            - BN
            - BG
            - BF
            - BI
            - CV
            - KH
            - CM
            - CA
            - KY
            - CF
            - TD
            - CL
            - CN
            - CX
            - CC
            - CO
            - KM
            - CD
            - CG
            - CK
            - CR
            - HR
            - CU
            - CW
            - CY
            - CZ
            - CI
            - DK
            - DJ
            - DM
            - DO
            - EC
            - EG
            - SV
            - GQ
            - ER
            - EE
            - SZ
            - ET
            - FK
            - FO
            - FJ
            - FI
            - FR
            - GF
            - PF
            - TF
            - GA
            - GM
            - GE
            - DE
            - GH
            - GI
            - GR
            - GL
            - GD
            - GP
            - GU
            - GT
            - GG
            - GN
            - GW
            - GY
            - HT
            - HM
            - VA
            - HN
            - HK
            - HU
            - IS
            - IN
            - ID
            - IR
            - IQ
            - IE
            - IM
            - IL
            - IT
            - JM
            - JP
            - JE
            - JO
            - KZ
            - KE
            - KI
            - KP
            - KR
            - KW
            - KG
            - LA
            - LV
            - LB
            - LS
            - LR
            - LY
            - LI
            - LT
            - LU
            - MO
            - MG
            - MW
            - MY
            - MV
            - ML
            - MT
            - MH
            - MQ
            - MR
            - MU
            - YT
            - MX
            - FM
            - MD
            - MC
            - MN
            - ME
            - MS
            - MA
            - MZ
            - MM
            - NA
            - NR
            - NP
            - NL
            - NC
            - NZ
            - NI
            - NE
            - NG
            - NU
            - NF
            - MP
            - "NO"
            - OM
            - PK
            - PW
            - PS
            - PA
            - PG
            - PY
            - PE
            - PH
            - PN
            - PL
            - PT
            - PR
            - QA
            - MK
            - RO
            - RU
            - RW
            - RE
            - BL
            - SH
            - KN
            - LC
            - MF
            - PM
            - VC
            - WS
            - SM
            - ST
            - SA
            - SN
            - RS
            - SC
            - SL
            - SG
            - SX
            - SK
            - SI
            - SB
            - SO
            - ZA
            - GS
            - SS
            - ES
            - LK
            - SD
            - SR
            - SJ
            - SE
            - CH
            - SY
            - TW
            - TJ
            - TZ
            - TH
            - TL
            - TG
            - TK
            - TO
            - TT
            - TN
            - TR
            - TM
            - TC
            - TV
            - UG
            - UA
            - AE
            - GB
            - UM
            - US
            - UY
            - UZ
            - VU
            - VE
            - VN
            - VG
            - VI
            - WF
            - EH
            - YE
            - ZM
            - ZW
            - AX
          example: BR
          description: Country of the identification document.
        idDocumentType:
          type: string
          enum:
            - PASSPORT
            - ID_CARD
            - DRIVERS
          example: PASSPORT
          description: Type of identification document.
        idDocumentFrontUrl:
          type: string
          example: https://pub-4fabf5dd55154f19a0384b16f2b816d9.r2.dev/v4-460px-Get-Proof-of-Address-Step-3-Version-2.jpg.jpeg
          description: URL to the front of the identification document.
        idDocumentBackUrl:
          type: string
          example: https://pub-4fabf5dd55154f19a0384b16f2b816d9.r2.dev/v4-460px-Get-Proof-of-Address-Step-3-Version-2.jpg.jpeg
          description: URL to the back of the identification document.
        formationDocumentUrl:
          type: string
          example: https://example.com/image.png
          description: URL to the business formation document.
        proofOfOwnershipDocumentUrl:
          type: string
          example: https://example.com/image.png
          description: URL to the proof of ownership document.
        shareholders:
          description: List of business owners and their details.
          example:
            - role: beneficialOwner
              firstName: John
              lastName: Doe
              taxId: "123456789"
              country: US
              dateOfBirth: "1980-01-01T00:00:00Z"
              addressLine1: 123 Main St
              addressLine2: Apt 4B
              city: New York
              stateProvinceRegion: NY
              postalCode: "10001"
              idDocumentCountry: US
              idDocumentType: PASSPORT
              idDocumentFrontUrl: https://pub-4fabf5dd55154f19a0384b16f2b816d9.r2.dev/v4-460px-Get-Proof-of-Address-Step-3-Version-2.jpg.jpeg
              idDocumentBackUrl: https://pub-4fabf5dd55154f19a0384b16f2b816d9.r2.dev/v4-460px-Get-Proof-of-Address-Step-3-Version-2.jpg.jpeg
          type: array
          items:
            type: string
      required:
        - type
        - complianceLevel
        - email
        - country
    CreateReceiversResponseDto:
      type: object
      properties:
        id:
          type: string
          example: re_000000000000
          description: The ID of the receiver.
      required:
        - id
    ReadReceiversResponseDto:
      type: object
      properties:
        id:
          type: string
          example: re_000000000000
          description: The ID of the receiver.
        type:
          type: string
          enum:
            - individual
            - business
          example: individual
          description:
            Type of receiver, either an individual person or a business
            entity.
        complianceLevel:
          type: string
          enum:
            - light
            - standard
          example: standard
          description: Compliance verification level required for the receiver.
        complianceStatus:
          type: string
          enum:
            - verifying
            - approved
            - rejected
            - deprecated
          example: approved
          description: Current compliance verification status of the receiver.
        firstName:
          type: string
          example: John
          description: First name of the individual receiver.
        lastName:
          type: string
          example: Doe
          description: Last name of the individual receiver.
        legalName:
          type: string
          example: Company Name Inc.
          description: Legal business name of the receiver.
        taxId:
          type: string
          example: "10210274029"
          description: Tax identification number of the receiver.
        email:
          type: string
          example: email@example.com
          description: Email address of the receiver.
        country:
          type: string
          enum:
            - AF
            - AL
            - DZ
            - AS
            - AD
            - AO
            - AI
            - AQ
            - AG
            - AR
            - AM
            - AW
            - AU
            - AT
            - AZ
            - BS
            - BH
            - BD
            - BB
            - BY
            - BE
            - BZ
            - BJ
            - BM
            - BT
            - BO
            - BQ
            - BA
            - BW
            - BV
            - BR
            - IO
            - BN
            - BG
            - BF
            - BI
            - CV
            - KH
            - CM
            - CA
            - KY
            - CF
            - TD
            - CL
            - CN
            - CX
            - CC
            - CO
            - KM
            - CD
            - CG
            - CK
            - CR
            - HR
            - CU
            - CW
            - CY
            - CZ
            - CI
            - DK
            - DJ
            - DM
            - DO
            - EC
            - EG
            - SV
            - GQ
            - ER
            - EE
            - SZ
            - ET
            - FK
            - FO
            - FJ
            - FI
            - FR
            - GF
            - PF
            - TF
            - GA
            - GM
            - GE
            - DE
            - GH
            - GI
            - GR
            - GL
            - GD
            - GP
            - GU
            - GT
            - GG
            - GN
            - GW
            - GY
            - HT
            - HM
            - VA
            - HN
            - HK
            - HU
            - IS
            - IN
            - ID
            - IR
            - IQ
            - IE
            - IM
            - IL
            - IT
            - JM
            - JP
            - JE
            - JO
            - KZ
            - KE
            - KI
            - KP
            - KR
            - KW
            - KG
            - LA
            - LV
            - LB
            - LS
            - LR
            - LY
            - LI
            - LT
            - LU
            - MO
            - MG
            - MW
            - MY
            - MV
            - ML
            - MT
            - MH
            - MQ
            - MR
            - MU
            - YT
            - MX
            - FM
            - MD
            - MC
            - MN
            - ME
            - MS
            - MA
            - MZ
            - MM
            - NA
            - NR
            - NP
            - NL
            - NC
            - NZ
            - NI
            - NE
            - NG
            - NU
            - NF
            - MP
            - "NO"
            - OM
            - PK
            - PW
            - PS
            - PA
            - PG
            - PY
            - PE
            - PH
            - PN
            - PL
            - PT
            - PR
            - QA
            - MK
            - RO
            - RU
            - RW
            - RE
            - BL
            - SH
            - KN
            - LC
            - MF
            - PM
            - VC
            - WS
            - SM
            - ST
            - SA
            - SN
            - RS
            - SC
            - SL
            - SG
            - SX
            - SK
            - SI
            - SB
            - SO
            - ZA
            - GS
            - SS
            - ES
            - LK
            - SD
            - SR
            - SJ
            - SE
            - CH
            - SY
            - TW
            - TJ
            - TZ
            - TH
            - TL
            - TG
            - TK
            - TO
            - TT
            - TN
            - TR
            - TM
            - TC
            - TV
            - UG
            - UA
            - AE
            - GB
            - UM
            - US
            - UY
            - UZ
            - VU
            - VE
            - VN
            - VG
            - VI
            - WF
            - EH
            - YE
            - ZM
            - ZW
            - AX
          example: BR
          description: Two-letter ISO country code of the receiver.
        dateOfBirth:
          type: string
          example: "1998-01-01T00:00:00Z"
          description: Date of birth for individual receivers.
          nullable: true
        dateOfFormation:
          type: string
          example: "1998-01-01T00:00:00Z"
          description: Date when the business was founded.
        city:
          type: string
          example: Marshfield
          description: City name.
        stateProvinceRegion:
          type: string
          example: MA
          description: State, province or region.
        addressLine1:
          type: string
          example: 738 Plain St
          description: First line of the address.
        addressLine2:
          type: string
          example: Building 22
          description: Second line of the address.
        postalCode:
          type: string
          example: "02050"
          description: Postal or ZIP code.
        ipAddress:
          type: string
          example: 127.0.0.1
          description: IP address of the receiver.
        idDocumentCountry:
          type: string
          enum:
            - AF
            - AL
            - DZ
            - AS
            - AD
            - AO
            - AI
            - AQ
            - AG
            - AR
            - AM
            - AW
            - AU
            - AT
            - AZ
            - BS
            - BH
            - BD
            - BB
            - BY
            - BE
            - BZ
            - BJ
            - BM
            - BT
            - BO
            - BQ
            - BA
            - BW
            - BV
            - BR
            - IO
            - BN
            - BG
            - BF
            - BI
            - CV
            - KH
            - CM
            - CA
            - KY
            - CF
            - TD
            - CL
            - CN
            - CX
            - CC
            - CO
            - KM
            - CD
            - CG
            - CK
            - CR
            - HR
            - CU
            - CW
            - CY
            - CZ
            - CI
            - DK
            - DJ
            - DM
            - DO
            - EC
            - EG
            - SV
            - GQ
            - ER
            - EE
            - SZ
            - ET
            - FK
            - FO
            - FJ
            - FI
            - FR
            - GF
            - PF
            - TF
            - GA
            - GM
            - GE
            - DE
            - GH
            - GI
            - GR
            - GL
            - GD
            - GP
            - GU
            - GT
            - GG
            - GN
            - GW
            - GY
            - HT
            - HM
            - VA
            - HN
            - HK
            - HU
            - IS
            - IN
            - ID
            - IR
            - IQ
            - IE
            - IM
            - IL
            - IT
            - JM
            - JP
            - JE
            - JO
            - KZ
            - KE
            - KI
            - KP
            - KR
            - KW
            - KG
            - LA
            - LV
            - LB
            - LS
            - LR
            - LY
            - LI
            - LT
            - LU
            - MO
            - MG
            - MW
            - MY
            - MV
            - ML
            - MT
            - MH
            - MQ
            - MR
            - MU
            - YT
            - MX
            - FM
            - MD
            - MC
            - MN
            - ME
            - MS
            - MA
            - MZ
            - MM
            - NA
            - NR
            - NP
            - NL
            - NC
            - NZ
            - NI
            - NE
            - NG
            - NU
            - NF
            - MP
            - "NO"
            - OM
            - PK
            - PW
            - PS
            - PA
            - PG
            - PY
            - PE
            - PH
            - PN
            - PL
            - PT
            - PR
            - QA
            - MK
            - RO
            - RU
            - RW
            - RE
            - BL
            - SH
            - KN
            - LC
            - MF
            - PM
            - VC
            - WS
            - SM
            - ST
            - SA
            - SN
            - RS
            - SC
            - SL
            - SG
            - SX
            - SK
            - SI
            - SB
            - SO
            - ZA
            - GS
            - SS
            - ES
            - LK
            - SD
            - SR
            - SJ
            - SE
            - CH
            - SY
            - TW
            - TJ
            - TZ
            - TH
            - TL
            - TG
            - TK
            - TO
            - TT
            - TN
            - TR
            - TM
            - TC
            - TV
            - UG
            - UA
            - AE
            - GB
            - UM
            - US
            - UY
            - UZ
            - VU
            - VE
            - VN
            - VG
            - VI
            - WF
            - EH
            - YE
            - ZM
            - ZW
            - AX
          example: BR
          description: Country of the identification document.
        idDocumentType:
          type: string
          enum:
            - PASSPORT
            - ID_CARD
            - DRIVERS
          example: PASSPORT
          description: Type of identification document.
        idDocumentFrontFile:
          type: string
          example: https://pub-4fabf5dd55154f19a0384b16f2b816d9.r2.dev/v4-460px-Get-Proof-of-Address-Step-3-Version-2.jpg.jpeg
          description: URL to the front of the identification document.
        idDocumentBackUrl:
          type: string
          example: https://pub-4fabf5dd55154f19a0384b16f2b816d9.r2.dev/v4-460px-Get-Proof-of-Address-Step-3-Version-2.jpg.jpeg
          description: URL to the back of the identification document.
        formationDocumentUrl:
          type: string
          example: https://example.com/image.png
          description: URL to the business formation document.
        proofOfOwnershipDocumentUrl:
          type: string
          example: https://example.com/image.png
          description: URL to the proof of ownership document.
        shareholders:
          description: List of business owners and their details.
          example:
            - role: beneficialOwner
              firstName: John
              lastName: Doe
              taxId: "123456789"
              country: US
              dateOfBirth: "1980-01-01T00:00:00Z"
              addressLine1: 123 Main St
              addressLine2: Apt 4B
              city: New York
              stateProvinceRegion: NY
              postalCode: "10001"
              idDocumentCountry: US
              idDocumentType: PASSPORT
              idDocumentFrontUrl: https://pub-4fabf5dd55154f19a0384b16f2b816d9.r2.dev/v4-460px-Get-Proof-of-Address-Step-3-Version-2.jpg.jpeg
              idDocumentBackUrl: https://pub-4fabf5dd55154f19a0384b16f2b816d9.r2.dev/v4-460px-Get-Proof-of-Address-Step-3-Version-2.jpg.jpeg
          type: array
          items:
            type: string
      required:
        - id
        - type
        - complianceLevel
        - complianceStatus
        - email
        - country
    RegisterBlockchainAccountsDto:
      type: object
      properties:
        name:
          type: string
          description: Display name for the wallet.
          example: Blockchain Account
          minLength: 1
          maxLength: 100
        wallet:
          type: string
          description:
            The wallet ID or wallet address. If not provided, a new smart
            wallet will be created and linked to this blockchain account.
          example: 7d413181-6c8c-427e-9d7b-6b07ba6ad5fb
          format: string
      required:
        - name
        - wallet
    RegisterBlockchainAccountsResponseDto:
      type: object
      properties:
        id:
          type: string
          description: The ID of blockchain account.
          example: wa_000000000000
          format: string
        wallet:
          type: string
          description:
            The wallet ID or wallet address. If not provided, a new wallet
            will be created and linked to this blockchain account.
          example: 7d413181-6c8c-427e-9d7b-6b07ba6ad5fb
          format: string
      required:
        - id
        - wallet
    ReadBlockchainAccountsResponseDto:
      type: object
      properties:
        id:
          type: string
          description: The ID of blockchain account.
          example: wa_000000000000
          format: string
        name:
          type: string
          description: Display name of the blockchain account.
          example: Blockchain Account
          minLength: 1
          maxLength: 100
        network:
          type: string
          description: Blockchain network.
          example: Base
          enum:
            - Ethereum
            - Base
            - Arbitrum
            - Polygon
        address:
          type: string
          description: Wallet public address.
          example: "0x5E74A480F330705640ED07E870F893e72238c8d0"
      required:
        - id
        - name
        - network
        - address
    CreateBankAccountsDto:
      type: object
      properties:
        name:
          type: string
          example: Default Account
          description: Display name for the bank account.
        type:
          type: string
          example: pix
          enum:
            - ach
            - wire
            - pix
          description: Type of bank account.
        pixKey:
          type: string
          example: "14947677768"
          description: Pix key identifier.
        beneficiaryName:
          type: string
          example: Individual full name or business name
          description: Name of the account holder or business entity.
        routingNumber:
          type: string
          example: "012345678"
          description: Bank routing number for ACH transfers.
        accountNumber:
          type: string
          example: "1001001234"
          description: Bank account number.
        accountType:
          type: string
          enum:
            - checking
            - saving
          description: Type of bank account (checking or savings).
        accountClass:
          type: string
          enum:
            - individual
            - business
          description: Classification of the account holder.
        addressLine1:
          type: string
          example: Address line 1
          description: Primary street address.
        addressLine2:
          type: string
          example: Address line 2
          description: Secondary address information (apt, suite, etc).
        city:
          type: string
          example: City
          description: City name.
        stateProvinceRegion:
          type: string
          example: State/Province/Region
          description: State, province, or region name.
        country:
          type: string
          enum:
            - BR
            - US
            - MX
            - CO
            - AR
          example: BR
          description: Two-letter country code.
        postalCode:
          type: string
          example: Postal code
          description: ZIP or postal code.
      required:
        - name
        - type
    CreateBankAccountsResponseDto:
      type: object
      properties:
        id:
          type: string
          example: ba_000000000000
          description: The ID of the bank account.
      required:
        - id
    ReadBankAccountsResponseDto:
      type: object
      properties:
        id:
          type: string
          example: ba_000000000000
          description: The ID of the bank account.
        name:
          type: string
          example: Default Account
          description: Display name for the bank account.
        type:
          type: string
          example: pix
          enum:
            - ach
            - wire
            - pix
          description: Type of bank account.
        pixKey:
          type: string
          example: "14947677768"
          description: Pix code identifier
        beneficiaryName:
          type: string
          example: Individual full name or business name
          description: Name of the account holder or business entity.
        routingNumber:
          type: string
          example: "012345678"
          description: Bank routing number for ACH transfers.
        accountNumber:
          type: string
          example: "1001001234"
          description: Bank account number.
        accountType:
          type: string
          example: checking
          enum:
            - checking
            - saving
          description: Type of bank account (checking or savings).
        accountClass:
          type: string
          example: individual
          enum:
            - individual
            - business
          description: Classification of the account holder.
        country:
          type: string
          enum:
            - BR
            - US
            - MX
            - CO
            - AR
          example: BR
          description: Two-letter country code.
        city:
          type: string
          example: Marshfield
          description: City name.
        stateProvinceRegion:
          type: string
          example: MA
          description: State, province, or region name.
        addressLine1:
          type: string
          example: 738 Plain St
          description: Primary street address.
        addressLine2:
          type: string
          example: Building 22
          description: Secondary address information (apt, suite, etc).
        postalCode:
          type: string
          example: "02050"
          description: ZIP or postal code.
      required:
        - id
        - name
        - type
    CreatePayinsDto:
      type: object
      properties:
        quoteId:
          type: string
          example: qu_000000000000
          description: The ID of the quote.
      required:
        - quoteId
    CreatePayinsResponseDto:
      type: object
      properties:
        id:
          type: string
          example: pa_000000000000
          description: The ID of the payin.
        status:
          type: string
          enum:
            - processing
            - failed
            - refunded
            - completed
          example: processing
          description: The current status of the payin.
        pixCode:
          type: string
          example: "12345678"
          description: Pix code for the payin.
      required:
        - id
        - status
        - pixCode
    ReadPayinsResponseDto:
      type: object
      properties:
        id:
          type: string
          example: pa_000000000000
          description: The ID of the payin.
        status:
          type: string
          enum:
            - processing
            - failed
            - refunded
            - completed
          example: processing
          description: The current status of the payin.
        pixCode:
          type: string
          example: "12345678"
          description: Pix code for the payin.
      required:
        - id
        - status
        - pixCode
