openapi: 3.1.0
info:
  version: 2.0.0
  title: Lumx Protocol
  description: Lumx Protocol API
servers:
  - url: https://protocol-sandbox.lumx.io/v2
paths:
  /projects/auth:
    post:
      summary: Create a project
      description: This endpoint creates a project and an API key.
      security: []
      tags:
        - Auth
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ProjectRequest"
              required:
                - name
                - blockchainName
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectResponse"
  /wallets:
    post:
      summary: Create a wallet
      description: This endpoint creates a wallet
      tags:
        - Wallets
      responses:
        "201":
          description: Successfully created the wallet.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletResponse"
      security:
        - apiKey: []
    get:
      tags:
        - Wallets
      summary: Read all wallets
      description: >-
        This endpoint reads all wallets
      responses:
        "200":
          description: The list of wallets was retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/WalletResponse"
      security:
        - apiKey: []
  "/wallets/{walletId}":
    get:
      tags:
        - Wallets
      summary: Read a wallet
      description: This endpoint reads a wallet and returns a list of all tokens contained within it
      parameters:
        - name: walletId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the wallet.
      responses:
        "200":
          description: >-
            The details of the wallet and the list of tokens it holds were
            retrieved successfully.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/WalletResponse"
                  - type: object
                    properties:
                      tokens:
                        description: The tokens owned by this wallet.
                        type: array
                        items:
                          $ref: "#/components/schemas/TokenResponse"
        "404":
          description: Wallet not found!
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Wallet not found!
      security:
        - apiKey: []
  "/wallets/sign-message":
    post:
      summary: Sign a message
      description: Use this endpoint to sign a message to prove wallet ownership.
      tags:
        - Wallets
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignMessageRequest"
              required:
                - message
      responses:
        "201":
          description: Successfully signed a message.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignMessageResponse"
        "500":
          description: A Error ocurred trying to sign a message
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: A Error ocurred trying to sign a message
      security:
        - apiKey: []
  /contracts:
    post:
      tags:
        - Contracts
      summary: Create a contract
      description: >-
        This endpoint creates a contract.
        Please, remember to deploy the contract before interacting with it.
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/ContractRequest"
                - type: object
                  properties:
                    type:
                      type: string
                      enum:
                        - fungible
                        - non_fungible
                      description: >-
                        The type of the contract.
              required:
                - name
                - type
      responses:
        "201":
          description: Contract created successfully (but not deployed yet).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractResponse"
        "403":
          description: This contract does not belong to this project.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: This contract does not belong to this project
        "409":
          description: You can not update a deployed contract.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: You can not update a deployed contract
      security:
        - apiKey: []
    get:
      tags:
        - Contracts
      summary: Read all contracts
      description: This endpoint reads all your contracts
      responses:
        "200":
          description: The list of contracts was retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ContractResponse"
      security:
        - apiKey: []
  "/contracts/{contractId}":
    get:
      tags:
        - Contracts
      summary: Read a contract
      description: This endpoint reads a contract
      parameters:
        - name: contractId
          in: path
          description: The ID of the contract.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: The details of this contract were retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractResponse"
      security:
        - apiKey: []
    patch:
      tags:
        - Contracts
      summary: Update a contract
      description: >-
        This endpoint updates a contract.
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the contract.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContractRequest"
      responses:
        "200":
          description: Contract updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractResponse"
      security:
        - apiKey: []
  "/contracts/{contractId}/deploy":
    post:
      tags:
        - Contracts
      summary: Deploy a contract
      description: >-
        This endpoint deploys a contract.
      parameters:
        - name: contractId
          in: path
          description: The ID of the contract to be deployed.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Contract deployed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractResponse"
        "403":
          description: This contract does not belong to this project.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: This contract does not belong to this project
        "409":
          description: This contract is already deployed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: This contract is already deployed
      security:
        - apiKey: []
  "/contracts/{contractId}/token-types":
    post:
      tags:
        - Contracts
      summary: Create a token type
      description: >-
        This endpoint creates a token type for a contract.
      parameters:
        - name: contractId
          in: path
          description: The ID of the contract.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TokenTypeRequest"
              required:
                - name
                - description
                - maxSupply
      responses:
        "201":
          description: Token type successfully created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenTypeResponse"
        "403":
          description: This contract does not belong to this project.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: This contract does not belong to this project
      security:
        - apiKey: []
    get:
      tags:
        - Contracts
      summary: Read all token types
      description: This endpoint reads all token type from a contract.
      parameters:
        - name: contractId
          in: path
          description: The ID of the contract.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: The list of token types for this contract was retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TokenTypeResponse"
      security:
        - apiKey: []
  "/contracts/{contractId}/token-types/{uriNumber}":
    get:
      tags:
        - Contracts
      summary: Read a token type
      description: This endpoint reads a token type from a contract.
      parameters:
        - name: contractId
          in: path
          description: The ID of the contract to which the token type belongs.
          required: true
          schema:
            type: string
            format: uuid
        - name: uriNumber
          in: path
          description: The sequential identifier of the token type within the contract.
          required: true
          schema:
            type: number
      responses:
        "200":
          description: The details of this token type were retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenTypeResponse"
        "403":
          description: This token type does not belong to this contract id.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: This token type does not belong to this contract id
      security:
        - apiKey: []
    patch:
      tags:
        - Contracts
      summary: Update a token type
      description: This endpoint update a token type of a contract.
      parameters:
        - name: contractId
          in: path
          description: The ID of the contract to which the token type belongs.
          required: true
          schema:
            type: string
            format: uuid
        - name: uriNumber
          in: path
          description: The sequential identifier of the token type within the contract.
          required: true
          schema:
            type: number
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TokenTypeUpdateRequest"
      responses:
        "200":
          description: The token type was updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenTypeResponse"
        "403":
          description: This contract does not belong to this project.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: This contract does not belong to this project
      security:
        - apiKey: []
  /transactions/mints:
    post:
      tags:
        - Transactions
      summary: Mint tokens
      description: >-
        Mint one or multiple tokens and send them to a wallet. Important: This
        is an ASYNC route! Use the read transaction route to check the mint's
        status.
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - allOf:
                    - $ref: "#/components/schemas/TransactionMintRequest"
                      title: Non-fungible
                      required:
                        - contractId
                        - walletId
                    - type: object
                      properties:
                        uriNumber:
                          type: number
                          description: The sequential identifier of the token type within the contract.
                      required:
                        - uriNumber
                - allOf:
                    - $ref: "#/components/schemas/TransactionMintRequest"
                      title: Fungible
                      required:
                        - contractId
                        - walletId
                        - quantity
      responses:
        "202":
          description: >-
            The mint request was submitted to the blockchain. Important: This is
            an ASYNC route! Use the read transaction route to check the mint's
            status.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/TransactionResponse"
                  - $ref: "#/components/schemas/TransactionMintResponse"
                  - $ref: "#/components/schemas/TransactionTimeStamps"
        "409":
          description: Contract not deployed yet!.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: This contract does not belong to this project
        "403":
          description: Minting this amount will surpass the maximum tokens per address
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Minting this amount will surpass the maximum tokens per address
      security:
        - apiKey: []
  /transactions/transfers:
    post:
      tags:
        - Transactions
      summary: Transfer tokens
      description: >-
        Transfer tokens from a wallet. Important: This is an ASYNC route! Use
        the read transaction route to check the transfer's status.
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - allOf:
                    - $ref: "#/components/schemas/TransactionTransferRequest"
                      title: Non-fungible token
                      required:
                        - contractId
                        - to
                        - from
                    - type: object
                      properties:
                        tokenId:
                          type: string
                          description: >-
                            The ID of the token that will be transferred. Not applicable for fungible tokens.
                      required:
                        - tokenId
                - allOf:
                    - $ref: "#/components/schemas/TransactionTransferRequest"
                      title: Fungible token
                      required:
                        - contractId
                        - to
                        - from
                    - type: object
                      properties:
                        quantity:
                          type: number
                          description: >-
                            The quantity of tokens to transfer. Not applicable for non-fungible
                            tokens.
                      required:
                        - quantity
      responses:
        "202":
          description: >-
            The transfer operation was submitted to the blockchain. Important:
            This is an ASYNC route! Use the read transaction route to check the
            transfer's status.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/TransactionResponse"
                  - $ref: "#/components/schemas/TransactionTransferResponse"
                  - $ref: "#/components/schemas/TransactionTimeStamps"
      security:
        - apiKey: []
  /transactions/custom:
    post:
      tags:
        - Transactions
      summary: Invoke a custom transaction
      description: Invoke any function of a smart contract
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionCustomRequest"
              required:
                - walletId
                - contractAddress
                - functionSignature
                - operations
      responses:
        "202":
          description: >-
            The transaction was submitted to the blockchain. Important: This is
            an ASYNC route! Use the read transaction route to check its status.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/TransactionResponse"
                  - $ref: "#/components/schemas/TransactionCustomResponse"
                  - $ref: "#/components/schemas/TransactionTimeStamps"
      security:
        - apiKey: []
  /transactions:
    get:
      tags:
        - Transactions
      summary: Read all transactions
      description: This endpoint reads all transactions made with your API key.
      responses:
        "200":
          description: The list of transactions was retrieved successfully
          content:
            application/json:
              schema:
                description: An array containing all transactions made by wallets of this project.
                anyOf:
                  - type: array
                    title: Mints
                    items:
                      allOf:
                        - $ref: "#/components/schemas/TransactionResponse"
                        - $ref: "#/components/schemas/TransactionMintResponse"
                        - $ref: "#/components/schemas/TransactionTimeStamps"
                  - type: array
                    title: Transfers
                    items:
                      allOf:
                        - $ref: "#/components/schemas/TransactionResponse"
                        - $ref: "#/components/schemas/TransactionTransferResponse"
                        - $ref: "#/components/schemas/TransactionTimeStamps"
                  - type: array
                    title: Custom
                    items:
                      allOf:
                        - $ref: "#/components/schemas/TransactionResponse"
                        - $ref: "#/components/schemas/TransactionCustomResponse"
                        - $ref: "#/components/schemas/TransactionTimeStamps"
      security:
        - apiKey: []
  "/transactions/{transactionId}":
    get:
      tags:
        - Transactions
      summary: Read a transaction
      description: This endpoint reads a transaction made with your API key.
      parameters:
        - name: transactionId
          in: path
          description: The ID of the transaction.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The details of the transaction were retrieved successfully
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    title: Mint
                    allOf:
                      - $ref: "#/components/schemas/TransactionResponse"
                      - $ref: "#/components/schemas/TransactionMintResponse"
                      - $ref: "#/components/schemas/TransactionTimeStamps"
                  - type: object
                    title: Transfer
                    allOf:
                      - $ref: "#/components/schemas/TransactionResponse"
                      - $ref: "#/components/schemas/TransactionTransferResponse"
                      - $ref: "#/components/schemas/TransactionTimeStamps"
                  - type: object
                    title: Custom
                    allOf:
                      - $ref: "#/components/schemas/TransactionResponse"
                      - $ref: "#/components/schemas/TransactionCustomResponse"
                      - $ref: "#/components/schemas/TransactionTimeStamps"
        "404":
          description: Transaction not found!
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Transaction not found!
      security:
        - apiKey: []
components:
  schemas:
    Blockchains:
      type: string
      enum:
        - Ethereum
        - Polygon
        - Chiliz
        - Optimism
        - Linea
    ProjectRequest:
      type: object
      properties:
        name:
          description: The name of the project.
          type: string
        blockchainName:
          description: The blockchain of the project.
          $ref: "#/components/schemas/Blockchains"
    ProjectResponse:
      type: object
      properties:
        id:
          description: The ID of the project.
          type: string
          format: uuid
        name:
          description: The name of the project.
          type: string
        blockchain:
          type: object
          description: The blockchain of the project.
          properties:
            name:
              $ref: "#/components/schemas/Blockchains"
              description: The blockchain's name.
            decimalChainId:
              type: number
              description: The blockchain's decimal chain id.
        createdAt:
          type: string
          format: date-time
          description: The timestamp from when the project was created.
        updatedAt:
          type: string
          format: date-time
          description: The timestamp from when the project was last updated.
        apiKey:
          description: The API key of the project.
          type: string
    WalletResponse:
      type: object
      properties:
        id:
          type: string
          description: The ID for this wallet.
          format: uuid
        address:
          description: The blockchain address for this wallet.
          type: string
        projectId:
          description: The ID of the project.
          type: string
          format: uuid
        blockExplorerUrl:
          type: string
          nullable: true
          description: >-
            The block explorer url of this wallet.
        createdAt:
          type: string
          format: date-time
          description: The timestamp from when the wallet was created.
        updatedAt:
          type: string
          format: date-time
          description: The timestamp from when the wallet was last updated.
    TokenResponse:
      properties:
        contractId:
          type: string
          format: uuid
          nullable: true
          description: >-
            If this token belongs to a contract created through Lumx Protocol,
            this field indicates the id of that contract.
        uriNumber:
          type: number
          nullable: true
          description: >-
            If this token belongs to a contract created through Lumx Protocol,
            this field indicates the uriNumber of the token type used to mint this token.
        blockchainName:
          description: The name of the blockchain to which this token belongs.
          $ref: "#/components/schemas/Blockchains"
        contractAddress:
          type: string
          description: The address of the contract to which this token belongs.
        contractType:
          type: string
          enum:
            - fungible
            - non_fungible
          description: >-
            The type of the contract to which this token belongs ('fungible' or
            'non_fungible').
        name:
          type: string
          description: The token's name.
        tokenId:
          type: string
          nullable: true
          description: >-
            Only for non-fungible contracts. Represents the sequential mint
            number for this token.
        uri:
          type: string
          description: The URI where this token's metadata is located.
          nullable: true
        metadata:
          type: object
          nullable: true
          description: "The token's metadata, such as image address, traits, etc."
        symbol:
          type: string
          nullable: true
          description: The token's symbol.
        quantity:
          type: number
          description: How much of that token is present at this wallet.
    ContractRequest:
      type: object
      properties:
        name:
          type: string
          description: The name of the contract.
        symbol:
          type: string
          description: The symbol of the contract. Must be between 3 and 5 alphanumeric characters.
          default: contractName
        description:
          type: string
          description: The description of the contract.
    ContractResponse:
      type: object
      properties:
        id:
          format: uuid
          type: string
          description: The ID of the contract.
        type:
          type: string
          description: The type of the contract.
        address:
          type: string
          description: >-
            The blockchain address of this contract.
          nullable: true
        name:
          type: string
          description: The name of the contract.
        symbol:
          type: string
          description: The symbol of the contract. Must be between 3 and 5 alphanumeric characters.
          default: contractName
        description:
          type: string
          nullable: true
          description: The description of the contract.
        blockchainName:
          description: The blockchain name of the contract.
          $ref: "#/components/schemas/Blockchains"
        baseUri:
          type: string
          nullable: true
          format: url
          description: >-
            The base URI where this contract's tokens' metadata files are located.
        blockExplorerUrl:
          type: string
          nullable: true
          description: >-
            The block explorer url of this contract.
        createdAt:
          type: string
          format: date-time
          description: The timestamp from when the contract was created.
        updatedAt:
          type: string
          format: date-time
          description: The timestamp from when the contract was last updated.
        deployedAt:
          type: string
          format: date-time
          nullable: true
          description: The timestamp from when the contract was deployed to the blockchain.
    TokenTypeRequest:
      type: object
      properties:
        name:
          type: string
          description: The name of the token type. Two token types belonging to a same contract cannot have the same name.
        description:
          type: string
          description: The description of the token type.
        maxSupply:
          type: number
          description: The max supply of the token type.
          maximum: 2000000000
        traits:
          type: object
          description: >-
            The traits of the token type. The key is the name of the trait and
            the value is the value of the trait.
        imageUrl:
          type: string
          description: >-
            The image URL of the token type. Supported formats are PNG, JPEG,
            GIF or MP4.
    TokenTypeResponse:
      type: object
      properties:
        id:
          format: uuid
          type: string
          description: The ID of the token type.
        uriNumber:
          type: number
          description: The URI number of the token.
        contractId:
          format: uuid
          type: string
          description: The ID of the contract.
        name:
          type: string
          description: The name of the token type.
        description:
          type: string
          description: The description of the token type.
          nullable: true
        maxSupply:
          type: number
          description: The max supply of the token type.
          maximum: 2000000000
        currentSupply:
          type: number
          description: The current supply for this token type.
        traits:
          type: object
          description: >-
            The traits of the token type. The key is the name of the trait and
            the value is the value of the trait.
          properties:
            trait1_name:
              type: string
              default: trait1_value
            trait2_name:
              type: string
              default: trait2_value
            trait3_name:
              type: string
              default: trait3_value
        imageUrl:
          type: string
          nullable: true
          description: >-
            The image URL of the token type. Supported formats are PNG, JPEG,
            GIF or MP4.
        metadataUrl:
          type: string
          description: The URL where this token types's metadata JSON is located.
        createdAt:
          type: string
          format: date-time
          description: The timestamp from when the token type was created.
        updatedAt:
          type: string
          format: date-time
          description: The timestamp from when the token type was last updated.
    TokenTypeUpdateRequest:
      type: object
      properties:
        name:
          type: string
          description: The name of the token type.
        description:
          type: string
          description: The description of the token type.
        maxSupply:
          type: number
          description: >-
            The max supply of the token type.
          maximum: 2000000000
        traits:
          type: object
          description: >-
            The traits of the token type. The key is the name of the trait and
            the value is the value of the trait.
        imageUrl:
          type: string
          description: >-
            The image URL of the token type. Supported formats are PNG, JPEG,
            GIF or MP4.
    TransactionMintRequest:
      properties:
        contractId:
          format: uuid
          type: string
          description: The ID of the contract from which to mint tokens.
        walletId:
          type: string
          format: uuid
          description: The ID of the wallet that will receive the tokens.
        quantity:
          type: number
          default: 1
          description: The quantity of tokens. Required if minting fungible tokens.
    TransactionTransferRequest:
      type: object
      properties:
        contractId:
          type: string
          description: The ID of the contract to which the tokens belong.
          format: uuid
        from:
          type: string
          description: The id of the wallet transferring the tokens.
          format: uuid
        to:
          type: string
          description: The address or ID of the wallet receiving the tokens. Can be any address, not limited to wallets created through the API.
          examples:
            - "0xa65aae78edef916d4102ba7b5672068c0d35fbff"
            - "123e4567-e89b-12d3-a456-426614174000"
    TransactionCustomRequest:
      allOf:
        - type: object
          title: Custom
          properties:
            walletId:
              format: uuid
              type: string
              description: The ID of the wallet that will be used to perform the transaction.
            contractAddress:
              type: string
              description: The address of the contract where the transaction will occur. Can be any contract as long as it is deployed in the same blockchain used for the current project.
              example: "0xa7Cb3EF2e19bCAA7C765370c39d7a06ea5595D08"
        - $ref: "#/components/schemas/TransactionCustomMetadata"
    TransactionResponse:
      type: object
      properties:
        id:
          type: string
          description: The ID of the transaction.
          format: uuid
        walletId:
          type: string
          description: The ID of the wallet that performed the transaction.
          format: uuid
        status:
          type: string
          description: The status of the transaction on the blockchain.
          enum:
            - pending
            - success
            - failed
        transactionHash:
          type: string
          description: The identifier of this transaction on the blockchain.
          nullable: true
        blockExplorerUrl:
          type: string
          nullable: true
          description: >-
            The block explorer url where the details of this transaction can be read.
        result:
          type: object
    TransactionTimeStamps:
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
          description: The timestamp from when the transaction was submitted.
        updatedAt:
          type: string
          format: date-time
          description: The timestamp from when the transaction was last updated.
        completedAt:
          type: string
          format: date-time
          description: The timestamp from when the transaction was completed.
          nullable: true
    TransactionMintResponse:
      type: object
      properties:
        request:
          description: An object containing the parameters used for this transaction.
          oneOf:
            - $ref: "#/components/schemas/TransactionMintFungibleMetadata"
            - $ref: "#/components/schemas/TransactionMintNFTMetadata"
        type:
          type: string
          description: The transaction type
          enum:
            - mint
    TransactionTransferResponse:
      type: object
      properties:
        request:
          description: An object containing the parameters used for this transaction.
          oneOf:
            - $ref: "#/components/schemas/TransactionTransferFungibleMetadata"
            - $ref: "#/components/schemas/TransactionTransferNFTMetadata"
        type:
          type: string
          description: The transaction type
          enum:
            - transfer
    TransactionCustomResponse:
      type: object
      properties:
        request:
          description: An object containing the parameters used for this transaction.
          $ref: "#/components/schemas/TransactionCustomMetadata"
        type:
          type: string
          description: The transaction type
          enum:
            - custom
    TransactionMintFungibleMetadata:
      type: object
      title: Mint - fungible
      description: Parameters for a mint transaction.
      properties:
        contractId:
          type: string
          description: The ID of the contract for this mint.
          format: uuid
        quantity:
          type: number
          description: The quantity of tokens for this mint.
    TransactionMintNFTMetadata:
      type: object
      title: Mint - non-fungible
      description: Parameters for a mint transaction.
      properties:
        contractId:
          type: string
          description: The ID of the contract for this mint.
          format: uuid
        uriNumber:
          type: string
          description: Indicates which of the token types defined by the contract is used for this mint.
        quantity:
          type: number
          description: The quantity of tokens for this mint.
    TransactionTransferFungibleMetadata:
      type: object
      title: Transfer - fungible
      description: Parameters for transferring fungible tokens.
      properties:
        contractId:
          type: string
          description: The ID of the contract of the fungible token.
          format: uuid
        quantity:
          type: number
          description: How many tokens were transferred.
          minimum: 1
        from:
          type: string
          description: The id of the wallet transferring the tokens.
          format: uuid
        to:
          type: string
          description: The address of the wallet receiving the tokens. Can be any address, not limited to wallets created through  the API.
          example: "0xa65aae78edef916d4102ba7b5672068c0d35fbff"
    TransactionTransferNFTMetadata:
      type: object
      title: Transfer - non-fungible
      description: Parameters for transferring non-fungible tokens.
      properties:
        contractId:
          type: string
          description: The ID of the contract of the fungible token.
          format: uuid
        tokenId:
          type: string
          description: The on-chain id of the token you want to transfer. You can find it using the read wallet route.
          example: "0"
        from:
          type: string
          description: The id of the wallet transferring the token.
          format: uuid
        to:
          type: string
          description: The address of the wallet receiving the token. Can be any address, not limited to wallets created through  the API.
          example: "0xa65aae78edef916d4102ba7b5672068c0d35fbff"
    TransactionCustomMetadata:
      type: object
      title: Custom
      description: Parameters for a custom transaction.
      properties:
        operations:
          type: array
          description: An array with objects defining the operations to be executed in this transaction.
          items:
            type: object
            properties:
              functionSignature:
                type: string
                description: The function's signature (name and parameter types).
              argumentsValues:
                type: array
                description: >-
                  Array containing the values to be passed to the function, in the
                  order they appear in the function's signature.
                default: []
                items:
                  anyOf:
                    - type: string
                    - type: number
                    - type: boolean
                    - type: array
                      items:
                        anyOf:
                          - type: string
                          - type: number
                          - type: boolean
              messageValue:
                type: number
                description: Optional. The amount of native tokens (ETH, MATIC, etc) to be sent along with the operation.
                default: 0
            required:
              - functionSignature
    SignMessageRequest:
      type: object
      properties:
        message:
          type: string
      description: >-
        The message that will be signed.
      required:
        - message
    SignMessageResponse:
      type: object
      properties:
        signedMessage:
          type: string
          description: >-
            The signature of the message in hexadecimal format.
  securitySchemes:
    apiKey:
      type: http
      scheme: bearer
      description: Bearer authentication header of the form `Bearer <API_KEY>`.
